<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"></span>
      <input pInputText #esHost required type="url" name="esHost" ngModel [pattern]="https?://.+" [ngClass]="{'ng-invalid': esHost.touched && esHost.invalid}" placeholder="ES Host" (blur)="connectToES($event)">
    </div>
  </div>
  <!--//
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"></span>
      <p-dropdown [options]="indices" editable="true" [(ngModel)]="selectedIndex"></p-dropdown>
    </div>
  </div>
  //-->
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">www</span>
      <input type="text" pInputText placeholder="Website">
    </div>
  </div>
</div>
