<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">ES Host</span>
      <input pInputText class="ui-inputtext" required type="url" name="esHost" pattern="https?://.+" (blur)="connectToES($event)">
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">Indices</span>
      <p-autoComplete [(ngModel)]="selectedIndex" [suggestions]="suggestions" (completeMethod)="pickIndices($event)" [dropdown]="true" (onSelect)="getDocuments($event)"></p-autoComplete>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">Documents</span>
      <p-dropdown [(ngModel)]="selectedDoc" type="text" placeholder="Documents" [options]="documents" (onChange)="getDocument($event)"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <p-orderList #fieldList [value]="fields" header="Fields" filter="filter" filterBy="name" (onSelectionChange)="getCalculations($event, popupOptions)" filterPlaceholder="Filter by name" dragdrop="true">
        <ng-template let-field pTemplate="item">
          <div class="ui-helper-clearfix">
            <div>{{field.name}} - {{field.type}} - {{field.value}}</div>
          </div>
        </ng-template>
      </p-orderList>
    </div>
  </div>
  <div class='ui-g-12 ui-md-4'>
    <div class='ui-inputgroup'>
      <span class="ui-inputgroup-addon">Calculations</span>
      <textarea pInputTextarea [rows]="10" [(ngModel)]="resultText"></textarea>
    </div>
  </div>
  <div class='ui-g-12 ui-md-4'>
    <textarea pInputTextarea [rows]="10" [(ngModel)]="qryText"></textarea>
  </div>
  <div class='ui-g-12 ui-md-4'>
    <p-orderList #terms [value]="searchTerms" header="Search Terms" (onSelectionChange)="dummy($event)">
      <ng-template let-fld pTemplate="term">
        <div class="ui-helper-clearfix">
          <div (dblclick)="removeTerm(fld)">{{fld.name}} - {{fld.type}} - {{fld.value}}</div>
        </div>
      </ng-template>
    </p-orderList>
  </div>
  <div class='ui-g-12 ui-md-4'>
    <div *ngIf="baseDate">Period {{baseDate.name}}: {{baseDate.value}} -<input type="number" pInputText [(ngModel)]="daysBefore">days
    <br>
    <button pButton type="button" icon="pi pi-check" iconPos="left" (click)="calculate($event)">Run Calcs</button>
    </div>
  </div>
  <div class='ui-g-12 ui-md-4'>
    <p-orderList #terms [value]="calcFields" header="Calc Fields" (onSelectionChange)="dummy($event)">
      <ng-template let-cfld pTemplate="term">
        <div class="ui-helper-clearfix">
          <div (dblclick)="removeCalc(cfld)">{{cfld.name}} - {{cfld.type}} - {{cfld.value}}</div>
        </div>
      </ng-template>
    </p-orderList>
  </div>
</div>
<p-toast position="top-left"></p-toast>
<p-contextMenu #popupOptions [target]="fieldList" [model]="popCalcOptions"></p-contextMenu>
